/* Common shared styles */
body{
    font-family: 'Lato', sans-serif;
}
.header{
    background: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px;
}
/* banner content */
.banner content{
    
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    padding: 50px 240px 0px 240px;
}
.profile-picture{
    width: 635px;
    height: 800px;
}
.banner-greating{
    color: #272727;
    font-size: 55px;
    font-weight: 800;
    width: 700px;
    margin-bottom: 30px;
}
.banner-dis{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 30px;
}
.btn-primary{
    color: #FFF;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border: none;
}
/* footer */

.footer-content{
    width: 1922px;
    height: 449px;
    background: #111010;
    text-align: center;
    padding-top: 128px;
}
.copy{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    margin-top:42px;
}
.footer-dis{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 625px;
    padding-left: 649px;
    
}
.text-primary{
    color: #E55473;
}
.footer-title{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
}
/* section1 */
.hot-deal{
    width: 1922px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    gap: 180px;
    margin-left: 350;    
}
.section1-dis{
   width: 594px;
   
}
.section1-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.hot-img{
    width: 318px;
    height: 420px;
    padding: 100px 0px;
}
.section1-content{
    text-align: center;
    padding-top: 230px;
    padding-bottom: 120px;
}
.btn{
    margin-top: 40px;
}
/* Section2 */
.section2{
    /* padding: 128px 240px; */
    padding: 0px 240px;
    text-align: center;

}
.insta-content{
    text-align: center;
    margin-top: 128px;
}
.insta-dis{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    margin-bottom: 48px;
    padding-left: 425px;

    
}
.insta-img{
    width: 342px;
    height: 396px;
    display: flex;
    gap: 24px;
}
.insta-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    width: 1450px;
   
}
.title-text{
    font-weight: 800;
    font-size: 40px;
}
/* latest deal */
.divlatest-deal{ 
    background-image: url("Rectangle\ 9.png");
    /* background-size:1440px ; */
    width: 1440px;
    height: 449px;
    padding-top: 140px;
    background-repeat: no-repeat;   
}
.latest-deal{
    margin-top: 128px;
}
.input-email{
    min-height:50px;
    min-width: 700px;
    border: none;
}
.latest-deal-dis{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
/* Featured */
.featured{
    margin-top: 160px;
    margin-bottom: 160px;
    
}
.featured-content{
    text-align: center;
    justify-content: center;
    width: 1922px;
    /* height: 620px; */
}
.featured-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    width: 1450px;
}
.featured-dis{
    margin-left: 663px;
}
.flower-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:24px;
    width: 1922px;
    height: 620px;
  }
.flower1 {
    width: 310px;
    height: 428px;
    margin-top: 110px;
  }
  
.bg1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
  }
  
.flower2{
    width: 370px;
    height: 370px;
    margin-top: 100px;
  }
  .bg2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
  }
  
.flower3 {
    width: 314px;
    height: 471px;
    margin-top: 65px;
  }
  
.bg3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
  }
  
.flower-name {
    text-align: center;
    text-decoration: underline;
    color: #272727;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
  
.flower-name h4 {
    margin-top: 25px;
  }
.featured-dis{
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}
.service{
    width: 1922px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    gap: 180px;
    margin-bottom: 128px;     
}
.services-image{
    margin-top: 35px;
}
.service-content{
    padding-top: 65px;
}
.service-title{
    color: #272727;
    font-size: 42px;
    font-weight: 800;
}
ul > li{
    color:#E55473;
    font-weight: 600;
    margin-top: 10px;
    font-size: 28px;
    font-style: italic;
}