/* Common shared styles */
body{
    font-family: 'Lato', sans-serif;
}
.header{
    background: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px;
}
/* banner content */
.banner content{
    
}
.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    padding: 50px 240px 0px 240px;
}
.profile-picture{
    width: 635px;
    height: 800px;
}
.banner-greating{
    color: #272727;
    font-size: 55px;
    font-weight: 800;
    width: 700px;
    margin-bottom: 30px;
}
.banner-dis{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 30px;
}
.btn-primary{
    color: #FFF;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border: none;
}
/* footer */

.footer-content{
    width: 1922px;
    height: 449px;
    background: #111010;
    text-align: center;
    padding-top: 128px;
}
.copy{
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
    margin-top:42px;
}
.footer-dis{
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 625px;
    padding-left: 649px;
    
}
.text-primary{
    color: #E55473;
}
.footer-title{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
}
/* section1 */
.hot-deal{
    width: 1922px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    gap: 180px;
    margin-left: 350;    
}
.section1-dis{
   width: 594px;
   
}
.section1-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.hot-img{
    width: 318px;
    height: 420px;
    padding: 100px 0px;
}
.section1-content{
    text-align: center;
    padding-top: 230px;
    padding-bottom: 120px;
}
.btn{
    margin-top: 40px;
}
/* Section2 */
.section2{
    padding: 128px 240px;
    text-align: center;

}
.insta-content{
    text-align: center;
}
.insta-dis{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    margin-bottom: 48px;
    padding-left: 425px;

    
}
.insta-img{
    width: 342px;
    height: 396px;
    display: flex;
    gap: 24px;
}
.insta-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    color: #272727;
    width: 1450px;
   
}
/* latest deal */
.divlatest-deal{
    background-image: url("Rectangle\ 9.png");
    width: 1440px;
    height: 449px;
    padding-top: 140px;
    background-repeat: no-repeat;
}
.latest-deal{
    margin-top: 128px;
}